.logo img{
    height: 50px;
}
.logo{
    margin-left: 50px;
    margin-top: 50px;
}
.menu a{
    margin-left: 6px;
}
.menu{
    margin-right: 100px;
    margin-top: 50px;
}
.hero{
   height: 100vh;
    color: white;
}
.hero h1{
    font-size: 100px;
}
.hero p{
    font-size: larger;
}
.home{
    background-image: url(./camera-1130731_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    position: relative;
}

.hero .but button{
    border: 1px;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    font-weight: bolder;
}
.hero .but .but2{
    color: white;
    background-color: black;
    opacity: 0.5;
}
nav a{
    text-decoration: none;
    color:white;
}
