.img1 img{
    height: 500px;
}
.img2 img{
    height: 500px;
    margin-left: 10px;
}
.img3 img{
    height: 500px;
    margin-left: 10px;
}
.imges{
    margin-top: 100px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}
.imges a{
    cursor:pointer;
}